<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/center.css">
  <!-- <link rel="stylesheet" href="./css/right.css">
  <link rel="stylesheet" href="./css/left.css"> -->
</head>
<body style="margin:0 auto;">
  <div class="xiao_mi_div">
    <div class="left">

    </div>
    <div class="center">
      <div class="title_div">
        小米11 5G 骁龙888 2K AMOLED四曲面柔性屏 1亿像素 55W有线闪充 50W无线闪充 8GB+256GB 蓝色 游戏手机
      </div>
      <div style="display:flex;"><!-- 查看盒子 -->
        <div class="title_litter_div" style = "position: relative;">
          小米11火爆预售,享12期免息,赠价值799元超值焕新（换新8成保值，一年新机随心换）,骁龙888处理器AMOLED柔性屏，一亿像素，预售享好礼。
          <div class="cha_kan" style="position: absolute;bottom: 0;right: 10px;"><a href="https://item.jd.com/100009956275.html?from_saf=1">查看</a></div>
        </div>
      </div>

      <div class="can_shu_div">
        <div class="red_header_div" style="">
          <div class="img_yu_shou" style="">
            <div class="img_yu_shou_div" style="margin-right:10px;"><img src="./img/yu_shou.png" alt=""></div>
            <div style="color:yellow;font-size:16px;">預售</div>
          </div>
          <div class="" style="display:flex;align-items: center;">
            <div class="nao_zhong_icon" style="margin-right:10px;"><img src="./img/nao_zhong.png" alt=""></div>
            <div class="nao_zhong_text" style="color:#fff; font-size:16px;" sytle="margin-right:10px;">预售剩余</div>
            <div style="color:yellow;font-size: 16px;" id="daoJiShi">7時35分12秒</div>
          </div>
        </div>
        
        <div class="price_div" style="position: relative;">
          <div class="ding_jin_div ding_jing_all">
            <div>定&nbsp;&nbsp;金</div>
            <div>&nbsp;&nbsp;￥100</div>
          </div>
          <div class="ding_jin_div ding_jing_all">
            <div>预售价</div>
            <div>&nbsp;&nbsp;￥4299</div>
          </div>
          <div class="ding_jin_div ding_jing_all">
            <div style="display:flex; align-items: center;">促&nbsp;&nbsp;销 &nbsp;&nbsp;</div>
            <!-- <div>&nbsp;&nbsp;￥100</div> -->
            <div style="display: flex; align-items: center;">
              <div style="border:1px solid red; color:red;">&nbsp;&nbsp;组套商品&nbsp;&nbsp;</div>
              <div style="height:10px;margin-right: 10px; display:flex;align-items:center;margin-left:10px;" >
                <img src="https://img13.360buyimg.com/n1/s25x25_jfs/t1/155479/9/11990/95230/5fe86080E6ee3a5b5/b8f7e623f1a54db9.jpg" alt="">
                <div>x1</div>
              </div>
              <div style="display:flex;align-items: center;height:10px;">
                <img src="https://img11.360buyimg.com/n1/s25x25_jfs/t1/141751/19/20596/15641/5fe93583E4d0e5791/6b981457ba097ecb.jpg" alt="">
              <div>x1</div>
              </div>
            </div>
          </div>
          <div style="position:absolute;top:10px; right:10px; color:blue">
            <a href="https://item.jd.com/100009956275.html#none">预售说明</a>
          </div>
        </div>
        <!-- 增值业务---发货时间 -->
        <div class="zeng_zhi_ye_wu_div" >
          <div class="zeng_zhi_ye_wu display" style="">
            <div>增值业务&nbsp;&nbsp;</div>
            <div style="">高价回收，极速到账</div>
          </div>
          <div class="pei_song display">
            <div>配&nbsp;送&nbsp;至&nbsp;&nbsp;&nbsp;</div>
            <div>海淀区八里庄街道</div>
            <div style="font-weight: bold;">&nbsp;&nbsp;无货</div>
            <div>，此商品暂时售完</div>
            <div>支持海外配送</div>
          </div>
          <div class="display">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由</div>
            <div style="color:red;">&nbsp;&nbsp;京东&nbsp;&nbsp;</div>
            <div> 发货, 并提供售后服务</div>
          </div>
          <div class="fa_huo_shi_jian display">
            <div>发货时间&nbsp;&nbsp;</div>
            <div>预计&nbsp;&nbsp; 最晚2021-01-12 00时 &nbsp;&nbsp;发货</div>
          </div>
        </div>
        <!-- 颜色、型号 -->
        <div class="yan_se_xing_hao">
          <div class="yan_se display">
            <div>选择颜色</div>
            <div class="display">
              <div style="height:45px;margin:0 5px;border: 1px solid #ccc;display:flex;">
                <div class="img_yan_se"><img src="https://img13.360buyimg.com/n9/s40x40_jfs/t1/151569/9/12037/54431/5fe950f4E39ace28f/748beb718d09d179.jpg" alt=""></div>
                <div style="background-color: #f7f7f7;line-height:45px;">白色</div>
              </div>
              <div style="border: 1px solid red;margin:0 5px;display:flex;">
                <div class="img_yan_se"><img src="https://img12.360buyimg.com/n9/s40x40_jfs/t1/157373/28/8/54148/5fe94f67E073e798b/d0282ce4cf09e40b.jpg" alt=""></div>
                <div style="background-color: #f7f7f7;line-height:45px;">黑色</div>
              </div>
              <div style="border: 1px solid #ccc;margin:0 5px;display:flex;">
                <div class="img_yan_se"><img src="https://img10.360buyimg.com/n9/s40x40_jfs/t1/157056/28/6/67298/5fe94ff9E91bcfc7f/26cd4a19b1ae69b2.jpg" alt=""></div>
                <div style="background-color: #f7f7f7;line-height:45px;">蓝色</div>
              </div>
              <div style="border: 1px solid #ccc;margin:0 5px;display:flex;">
                <div class="img_yan_se"><img src="https://img11.360buyimg.com/n9/s40x40_jfs/t1/153865/38/12009/72750/5fe95199E79924e1e/5d4a63ce3784fc71.jpg" alt=""></div>
                <div style="background-color: #f7f7f7;line-height:45px;">烟紫</div>
              </div>
              <div style="border: 1px solid #ccc;margin:0 5px;display:flex;">
                <div class="img_yan_se"><img src="https://img14.360buyimg.com/n9/s40x40_jfs/t1/158193/40/12/91861/5fe954dcE740106bb/0c92fd41a8313bb0.jpg" alt=""></div>
                <div style="background-color: #f7f7f7;line-height:45px;">特别版</div>
              </div>
            </div>
          </div>
          <div class="xuan_ze_ban_ben display" style="margin-top:10px;">
            <div>选择版本</div>
           <div class="display">
            <div style="border: 1px solid #ccc;margin:0 5px;display:flex;">
              <div style="line-height:45px;padding:0 5px;">8+128G</div>
            </div>
            <div style="border: 1px solid red;margin:0 5px;display:flex;">
              <div style="line-height:45px;padding:0 5px;">8+256G</div>
            </div>
            <div style="border: 1px solid #ccc;margin:0 5px;display:flex">
              <div style="line-height:45px;;padding:0 5px;">12+256G</div>
            </div>
           </div>
          </div>
          <div class="gou_mai_fang_shi display" style="margin-top:10px;">
            <div>购买方式</div>
            <div class="display">
              <div style="border: 1px solid #ccc;margin:0 5px;display:flex;">
                <div style="line-height:45px;padding:0 5px;">标准版(不含充电器)</div>
              </div>
              <div style="border: 1px solid #ccc;margin:0 5px;display:flex;">
                <div style="line-height:45px;padding:0 5px;">套餐版(赠送充电器)</div>
              </div>
              <div style="border: 1px solid #ccc;margin:0 5px;display:flex">
                <div style="line-height:45px;;padding:0 5px;">雷军签名版</div>
              </div>
             </div>
          </div>
          <div class="ban_ben display"></div>
          <div class="gou_mai_fang_shi display"></div>
        </div>
        <!-- 支付定金 -->
        <div class="display" style="margin-top:10px;">
          <div class="num_div display" style="border:1px solid #666;">
            <div style="height:48px;width:47px;text-align: center;line-height:48px;">1</div>
            <div>
              <div style="background-color: #f7f7f7;height:24px;width:17px;border-bottom:1px solid #666; text-align:center;line-height: 17px;;">+</div>
              <div style="background-color: #f7f7f7;height:24px;width:17px;text-align:center;line-height: 17px;">-</div>
            </div>
          </div>
          <div class="ding_jin display" style="">
            支付定金
          </div>
          <div class="fen_xiang display">
            <div><img src="./img/fen_xiang.png" style="width:15px;height:15px;" alt=""></div>
            <div>分享</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="right">
      
    </div>

  </div>
</body>

</html>