.find-layout {
  width: 190px;
  height: 260px;
  background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4dca746078b49c72a9877d2998d0abc8.png);
}
.find-content {
  margin-top: 15px;
  margin-left: 15px;
}
